{% include 'header' %}

<section class="section-padding-large">
  <div class="container">
    <div class="row flex-column align-items-center justify-content-center row-gap-400 row-gap-lg-400">
      <div class="col-lg-5">
        <div class="d-flex flex-column align-items-center row-gap-150 ">
          <h1 class="display-md">{{ "Skapa nytt lösenord" | t }}</h1>
          <p class="text-secondary">{{ "Fyll i ditt nya lösenord." | t }}</p>
        </div>
      </div>

      <div class="col-lg-5">
        <form-component action="{{ customer.register_url }}" method="post" id="login-page-form" redirect="{{ customer.login_url }}" no-clear
                        class="d-flex flex-column row-gap-400 needs-validation" novalidate>


          <div class="input-group has-validation d-flex flex-column">
            <label for="password">{{ "Lösenord" | t }}</label>
            <input type="password" class="form-control w-100 input-default" id="password" name="customer[password]"
                   minlength="6"
                   required>
            <span class="text-tiny">{{ "Lösenordet måste vara minst 6 tecken" | t }}</span>
            <div class="invalid-feedback">
              {{ "Ange ditt lösenord" | t }}
            </div>
          </div>

          <div class="input-group has-validation d-flex flex-column">
            <label for="passwordConfirm">{{ "Bekräfta ditt lösenord" | t }}</label>
            <input type="password" class="form-control input-default w-100" id="passwordConfirm" minlength="6"
                   name="customer[password_confirmation]" required>
            <div class="invalid-feedback">
              {{ "Bekräfta ditt lösenord" | t }}
            </div>
          </div>


          <div class="d-flex align-items-center column-gap-75">
            <input type="checkbox" name="show_password" id="show_password">
            <label class="mb-0 text-md fw-regular" for="show_password">
              {{ "Visa lösenord" | t }}
            </label>
          </div>

          <button type="submit" class="brand-button-primary">{{ "Spara" | t }}</button>
        </form-component>
      </div>
    </div>
  </div>
</section>


<script>
  document.addEventListener('DOMContentLoaded', () => {
    const showPasswordCheckbox = document.getElementById('show_password');
    const passwordInput = document.getElementById('password');
    const passwordConfirmInput = document.getElementById('passwordConfirm');

    showPasswordCheckbox.addEventListener('change', (event) => {
      if (event.target.checked) {
        passwordInput.type = 'text';
        passwordConfirmInput.type = 'text';
      } else {
        passwordInput.type = 'password';
        passwordConfirmInput.type = 'password';
      }
    });
  });
</script>

{% include 'footer' %}