{% include 'header' %}

<section class="section-padding-large">
  <div class="container">
    <div class="row flex-column align-items-center justify-content-center row-gap-400 row-gap-lg-400">
      <div class="col-lg-5">
        {% if flash.notice %}
          <div class="alert alert-success" role="alert" aria-live="polite">{{ flash.notice | join: '</div><div class="notice">' }}</div>
        {% endif %}
        {% if flash.alert %}
          <div class="alert alert-danger" role="alert" aria-live="polite">{{ flash.alert | join: '</div><div class="alert default-message">' }}</div>
        {% endif %}
        {% if customer.notifications.exists? %}
          {% for alert in customer.notifications.by_type.alert %}
            <div class="alert alert-warning spacer-10" role="alert" aria-live="polite">{{ alert.message }}</div>
          {% endfor %}
        {% endif %}
        <div class="d-flex flex-column align-items-center row-gap-150 ">
          <h1 class="display-md">{{ "Återställ ditt lösenord" | t }}</h1>
          <p
            class="text-secondary text-center">{{ "Ange din e-postadress så skickar vi en länk för att återställa ditt lösenord." | t }}</p>
        </div>
      </div>

      <div class="col-lg-5">
        {% wm3form customer.lost_password_url, id = "login-page-form",
          class = "d-flex flex-column row-gap-400 needs-validation", novalidate %}

        <div class="input-group has-validation d-flex flex-column">
          <label for="email">{{ "Email" | t }}</label>
          <input type="email" class="form-control w-100 input-default" id="email" name="customer[email]" required>
          <div class="invalid-feedback">
            {{ "Ange en giltig e-postadress" | t }}
          </div>
        </div>

        <button type="submit" class="brand-button-primary">{{ "Återställ" | t }}</button>
        {% endwm3form %}
      </div>


      <div class="col-lg-5">
        <a href="{{ customer.login_url }}"
           class="brand-link justify-content-center">{{ "Tillbaka till logga in" | t }}</a>
      </div>

    </div>
  </div>
</section>


<script>
  document.addEventListener('DOMContentLoaded', () => {
    const formTest = document.getElementById('login-page-form');
    const formComponent = formTest.closest('form-component');
    formComponent.addEventListener(('form:response'), checkFormResponse);
  });

  async function checkFormResponse (e) {
    try {
      const data = await e.detail.json();
      if (data.error) {
        const flashMessage = document.querySelector('.flash-message');
        flashMessage.classList.remove('d-none');
        flashMessage.classList.add('alert', 'alert-danger');
        flashMessage.textContent = window.getTranslation(data.error);
      }
    } catch (error) {
      console.error('Error parsing JSON:', error);

    }
  }
</script>


{% include 'footer' %}