{% include 'header' %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js"
        integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y"
        crossorigin="anonymous"></script>


<section class="section-padding-large">
  <div class="container">
    <div class="row flex-column align-items-center justify-content-center row-gap-400 row-gap-lg-400">
      <div class="col-lg-5">
        <div class="d-flex flex-column align-items-center row-gap-150 ">
          <h1 class="display-md">{{ "Skapa ditt konto" | t }}</h1>
          <p class="text-secondary">{{ "Fyll i dina uppgifter för att komma igång med ditt konto." | t }}</p>
        </div>
      </div>

      <div class="col-lg-5">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="tab-button  active" id="private-tab" data-bs-toggle="tab" data-bs-target="#private-tab-pane"
                    type="button" role="tab" aria-controls="private-tab-pane" aria-selected="true">
              {{ "Privatperson" | t }}</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="tab-button " id="company-tab" data-bs-toggle="tab" data-bs-target="#company-tab-pane"
                    type="button" role="tab" aria-controls="company-tab-pane" aria-selected="false">
              {{ "Företag" | t }}</button>
          </li>
        </ul>
      </div>

      <div class="tab-content col-lg-5" id="myTabContent">
        <div class=" tab-pane fade show active" id="private-tab-pane" role="tabpanel"
             aria-labelledby="private-tab" tabindex="0">
        {% include 'private_register_form' %}
        </div>
        <div class=" tab-pane fade" id="company-tab-pane" role="tabpanel" aria-labelledby="company-tab"
             tabindex="0">
          {% include 'company_register_form' %}
        </div>
      </div>

      <div class="col-lg-5">
        <p class="text-md text-center">
          {{ "Har du redan ett konto?" | t }}
          <a href="{{ customer.login_url }}" class="brand-link d-inline-flex">{{ "Logga in" | t }}</a>
        </p>
      </div>
    </div>
  </div>
</section>


<script>
  document.addEventListener('DOMContentLoaded', () => {
    const showPasswordCheckboxs = document.querySelectorAll('.password-reveal');


    showPasswordCheckboxs.forEach(box => {
      box.addEventListener('change', (event) => {
        const passwordInput = event.target.closest('form').querySelector('input[name="customer[password]"]');
        const passwordConfirmInput = event.target.closest('form').querySelector('input[name="customer[password_confirmation]"]');
        console.log(passwordInput);
        if (event.target.checked) {
          passwordInput.type = 'text';
          passwordConfirmInput.type = 'text';
        } else {
          passwordInput.type = 'password';
          passwordConfirmInput.type = 'password';
        }
      });
    })
  });
</script>

{% include 'footer' %}