{% include 'header' %}

<script src="{{ 'form_test.js' | template_path }}?{{ version }}" defer></script>

<section class="section-padding-large">
  <div class="container">
    <div class="row flex-column align-items-center justify-content-center row-gap-400 row-gap-lg-400">
      <div class="col-lg-5">
        <div class="flash-message d-none" role="alert" aria-live="polite">
        </div>

        <div class="d-flex flex-column align-items-center row-gap-150 ">
          <h1 class="display-md">{{ "Logga in" | t }}</h1>
          <p class="text-secondary">{{ "Fyll i dina inloggningsuppgifter nedan" | t }}</p>
        </div>
      </div>

      <div class="col-lg-5">
        <form-component action="{{ customer.login_url }}" method="post" id="login-page-form" accept="application/json"
                        redirect="/" no-clear
                        class="d-flex flex-column row-gap-400 needs-validation" novalidate>
          <div class="input-group has-validation d-flex flex-column">
            <label for="email">{{ "Email" | t }}</label>
            <input type="email" class="form-control w-100 input-default" id="email" name="customer[email]" required>
            <div class="invalid-feedback">
              {{ "Ange en giltig e-postadress" | t }}
            </div>
          </div>

          <div class="input-group has-validation d-flex flex-column">
            <label for="password">{{ "Lösenord" | t }}</label>
            <input type="password" class="form-control w-100 input-default" id="password" name="customer[password]"
                   required>
            <div class="invalid-feedback">
              {{ "Ange ditt lösenord" | t }}
            </div>
          </div>


          <div class="d-flex align-items-center column-gap-75">
            <input type="checkbox" name="show_password" id="show_password">
            <label class="mb-0 text-md fw-regular" for="show_password">
              {{ "Visa lösenord" | t }}
            </label>
          </div>

          <button type="submit" class="brand-button-primary">{{ "Logga in" | t }}</button>
        </form-component>
      </div>


      <div class="col-lg-5">
        <a href="{{ customer.lost_password_url }}"
           class="brand-link justify-content-center">{{ "Glömt ditt lösenord?" | t }}</a>
      </div>

      <div class="col-lg-5">
        <p class="text-md text-center">
          {{ "Har du inget konto?" | t }}
          <a href="{{ customer.register_url }}" class="brand-link d-inline-flex">{{ "Skapa ett konto" | t }}</a>
        </p>
      </div>
    </div>
  </div>
</section>


<script>
  document.addEventListener('DOMContentLoaded', () => {
    const showPasswordCheckbox = document.getElementById('show_password');
    const passwordInput = document.getElementById('password');

    showPasswordCheckbox.addEventListener('change', (event) => {
      if (event.target.checked) {
        passwordInput.type = 'text';
      } else {
        passwordInput.type = 'password';
      }
    });

    const formTest = document.getElementById('login-page-form');
    const formComponent = formTest.closest('form-component');
    formComponent.addEventListener(('form:response'), checkFormResponse);
  });

  async function checkFormResponse (e) {
    try {
      const data = await e.detail.json();
      if (data.error) {
        const flashMessage = document.querySelector('.flash-message');
        flashMessage.classList.remove('d-none');
        flashMessage.classList.add('alert', 'alert-danger');
        flashMessage.textContent = window.getTranslation(data.error);
      }
    } catch (error) {
      console.error('Error parsing JSON:', error);

    }
  }
</script>

{% include 'footer' %}