{% include 'header' %}
{% include 'shop_breadcrumbs' %}
{% assign filter_max_price = group.subtree_products_max_price | round %}


{% if request.params["only_in_stock"] == "true" %}
  {% assign product_selection = group.subtree_products.only_in_stock.filter.limit.12.paginate %}
  {% assign total_products = group.subtree_products.only_in_stock.filter.all.size %}

{% else %}

  {% assign product_selection = group.subtree_products.filter.limit.12.paginate %}
  {% assign total_products = group.subtree_products.filter.all.size %}
{% endif %}

{% assign heroImage = false %}
{% for tag in group.tags %}
  {% if tag.name == "hero_image" %}
    {% assign heroImage = true %}
  {% endif %}
{% endfor %}

{% if group.image_url.size > 0 and heroImage %}
  <section class="grp-hero-image overflow-hidden">
    <img src="{{ group.image_url }}" height="400" width="1440" alt="{{ group.name }}"
         class="w-100 h-100 object-fit-cover object-position-center" loading="eager" fetchpriority="high"/>
  </section>
{% endif %}

<section
  class="grp-heading padding-top-600 padding-top-lg-1200 padding-bottom-400 padding-bottom-lg-600 overflow-hidden">
  <div class="container">
    <div class="row justify-content-center row-gap-300 row-gap-lg-400">
      <div class="col-lg-6">
        <div class="d-flex flex-column row-gap-300 text-center">
          <h1 class="display-xxl">{{ group.name }}</h1>
          {% if group.description.size > 0 %}
            <div class="text-secondary">{{ group.description }}</div>
          {% endif %}
        </div>
      </div>

      <div class="col-12">
        <swiper-slider slides="auto" spaceBetween="12">
          <div class="swiper swiper-container d-flex justify-content-center w-fit-content">
            <div class="swiper-wrapper">
              {% for subGrp in group.children %}
                <div class="swiper-slide w-fit-content">
                  <a href="{{ subGrp.url }}" class="category-button">
                    {{ subGrp.name }}
                  </a>
                </div>
              {% endfor %}
            </div>
          </div>
        </swiper-slider>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row row-gap-150 flex-wrap">
      <div class="col-6 col-lg d-flex flex-row align-items-lg-center gap-150">
        <button type="button" class="neutral-button-secondary fw-regular"
                data-modal-action="open"
                data-modal-element="#filter-modal"

        >
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path
              d="M11.0287 17.5C10.8162 17.5 10.6382 17.4281 10.4945 17.2843C10.3507 17.1404 10.2787 16.9622 10.2787 16.7498C10.2787 16.5371 10.3507 16.359 10.4945 16.2155C10.6382 16.0718 10.8162 16 11.0287 16H12.9615C13.174 16 13.3522 16.0719 13.496 16.2158C13.6397 16.3596 13.7115 16.5378 13.7115 16.7503C13.7115 16.9629 13.6397 17.141 13.496 17.2845C13.3522 17.4282 13.174 17.5 12.9615 17.5H11.0287ZM7.15375 12.75C6.94125 12.75 6.76317 12.6781 6.6195 12.5342C6.47583 12.3904 6.404 12.2122 6.404 11.9997C6.404 11.7871 6.47583 11.609 6.6195 11.4655C6.76317 11.3218 6.94125 11.25 7.15375 11.25H16.8365C17.049 11.25 17.2272 11.3219 17.371 11.4658C17.5147 11.6096 17.5865 11.7878 17.5865 12.0003C17.5865 12.2129 17.5147 12.391 17.371 12.5345C17.2272 12.6782 17.049 12.75 16.8365 12.75H7.15375ZM4.25 8C4.0375 8 3.85942 7.92808 3.71575 7.78425C3.57192 7.64042 3.5 7.46225 3.5 7.24975C3.5 7.03708 3.57192 6.859 3.71575 6.7155C3.85942 6.57183 4.0375 6.5 4.25 6.5H19.75C19.9625 6.5 20.1406 6.57192 20.2843 6.71575C20.4281 6.85958 20.5 7.03775 20.5 7.25025C20.5 7.46292 20.4281 7.641 20.2843 7.7845C20.1406 7.92817 19.9625 8 19.75 8H4.25Z"
              fill="#030712"/>
          </svg>

          {{ "Filter" | t }} <span class="filter-count">(0)</span>
        </button>

        <span class="d-none d-lg-block">
          {{ total_products }}
          {% if total_products == 1 %}
            {{ "produkt" | t }}
          {% else %}
            {{ "produkter" | t }}
          {% endif %}
        </span>
      </div>

      {% assign options = "name_asc,name_desc,price_asc,price_desc" | split: ',' %}
      <div class="col-6 col-lg d-flex align-items-start align-items-lg-center justify-content-end gap-150">
        <label for="sort-by"
               class="text-primary fw-regular d-none d-lg-block flex-shrink-0">{{ "Sortera efter" | t }}</label>
        <select id="sort-by" name="Sort" class="flex-grow-1 flex-lg-grow-0 fw-regular"
                aria-label="{{ "Sortera efter" | t }}">
          <option value="{{ request.params.Sort }}" selected>
            {{ request.params.Sort | t | fallback: "name_asc" | t }}
          </option>
          {% for option in options %}
            {% if request.params.Sort %}
              {% if option != request.params.Sort %}
                <option value="{{ option }}">
                  {{ option | t }}
                </option>
              {% endif %}

            {% else %}
              {% if option != 'name_asc' %}
                <option value="{{ option }}">
                  {{ option | t }}
                </option>
              {% endif %}
            {% endif %}
          {% endfor %}
        </select>
      </div>

      <div class="col-12 d-block d-lg-none">
      <span>
          {{ group.subtree_products.filter.size }}
        {% if group.subtree_products.filter.size == 1 %}
          {{ "produkt" | t }}
        {% else %}
          {{ "produkter" | t }}
        {% endif %}
        </span>
      </div>
    </div>


    <div class="row margin-top-150">
      <div class="col-12 active-group-filters flex-wrap align-items-center gap-150">
        <a href="{{ request.path }}" class="neutral-button-secondary fw-regular w-fit-content">
          {{ "Rensa alla filter" | t }}
        </a>
      </div>
    </div>
  </div>
</section>

<section class="products-section padding-top-400 padding-top-lg-600 padding-bottom-600">
  <div class="container">
    <div class="row row-gap-300 row-gap-lg-400">

      {% include 'products_paginated' %}
    </div>
  </div>
</section>

{% include 'filter_modal' %}

{% include 'footer' %}